
<div class="mainbody">

<div class="logo">
<h1>Welcome to Food Box</h1>
</div>

<div id="login-box">

  <div class="left">
    <h1>Sign up</h1>
    
    <input type="text" name="username" placeholder="Username" />
    <input type="text" name="email" placeholder="E-mail" />
    <input type="text" name="phone" placeholder="Contact No." />
    <input type="password" name="password" placeholder="Password" />
    
    
    <input type="submit" name="signup_submit" value="Sign me up" />
  </div>
  
  <div class="right">
  
  </div>
</div>

</div>